@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

/*? scroll style */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--Color);
    border-radius: 10px;
}

:root {
    /* --Color: #4da6e7; */
    --Color: #6096B4;
    --SecondColor: #93BFCF;
    --ThirdColor: #BDCDD6;
    --CreamColor: #EEE9DA;
    --whiteColor: #ffffff;
}

/* ? GLOBALS STYLE */

.pp-wrapper:hover {
    color: #fff;
    background-color: var(--Color);
}

.line {
    height: 3px;
    width: 70%;
    left: 0;
    bottom: -5px;
    position: absolute;
    background-color: var(--Color);
}

footer {
    color: #fff;
    padding: 30px;
    text-align: center;
    background-color: var(--Color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99999;
    background-color: #fff;
    transition: 0.8s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.logo {
    font-size: 25px;
    transition: 0.8s ease;
    color: var(--Color);
    cursor: pointer;
    font-weight: 600;
}

header nav {
    transition: 0.8s ease;
    display: flex;
    align-items: center;
    gap: 30px;
    /* border: 1px solid red; */
}

header nav ul {
    display: flex;
    padding: 10px 20px;
    list-style-type: none;
    gap: 30px;
    font-size: 15px;
}

header nav ul li {
    margin: auto;
}

/* CSS OLD */

/* header nav ul li a {
  color: var(--SecondColor);
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.3s ease;
  font-weight: 600;
}

header nav ul li a.active {
  color: var(--Color);
  font-size: 15px;
} */

/* END CSS OLD */

header nav ul li a {
    color: var(--SecondColor);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    position: relative;
    font-size: 13px;
}

/* OLD CSS */

/* header nav ul li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: transparent;
  transform: scaleX(0);
  transform-origin: bottom left;
  background-color: var(--SecondColor);
  transition: transform 0.3s ease;
}

header nav ul li:not(.dropdown) a:hover::before {
  background-color: var(--Color);
  transform: scaleX(1);
} */

/* header nav ul li:not(.dropdown) a.active::before {
  background-color: var(--Color);
  transform: scaleX(1);
  transition: none;
} */

/* END */

header nav ul a:hover {
    color: var(--Color);
    transition: color 0.3s ease;
}

header nav ul li:not(.dropdown) a.active {
    color: var(--Color);
    transition: color 0.3s ease;
}

#bodyFlex {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    display: inline-block;
    height: 100vh;
    padding: 30px 0;
    position: absolute;
    z-index: -1;
}

.nav-wrapper {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.nav-container ul li {
    list-style-type: none;
    margin: 20px 0;
}

.nav-container ul li a {
    transition: 0.3s ease;
    color: var(--darkGrayfontColor);
    font-size: 14pt;
    padding-left: 7px;
    text-decoration: none;
    border-left: 3px solid transparent;
}

.nav-container ul li a i {
    width: 30px;
    text-align: center;
    margin-right: 5px;
}

.nav-container ul li.active a {
    color: var(--Color);
    padding-left: 10px;
    border-left: 3px solid var(--Color);
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: var(--SecondColor);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-size: 12px;
}


.dropdown-content a:hover {
    background-color: #f5f5f5;
}

button[type="submit"] {
    background-color: transparent;
    border: none;
    padding: 8px 16px;
    font: inherit;
    cursor: pointer;
    color: var(--SecondColor);
    font-weight: 500;
    font-size: 12px;
    margin: 0;
}

button[type="submit"]:hover {
    background-color: transparent;
    color: var(--Color);
}

/* ! Hero Style  */

.hero {
    padding: 50px 200px 100px;
    display: flex;
    align-items: center;
    position: relative;
}

.hero-img-wrapper img {
    width: 500px;
}

.welcome-text h3 {
    color: var(--Color);
    font-size: 20px;
    font-weight: 600;
}

.welcome-text h1 {
    font-size: 30px;
    font-weight: bolder;
}

.welcome-text p {
    text-align: justify;
    font-size: 15px;
}

.custom-shape-divider-bottom-1706853267 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1706853267 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1706853267 .shape-fill {
    fill: var(--SecondColor);
}

/* BUTTON OLD */

/* .btn-style-1 {
  border: 1.5px solid var(--Color);
  background-color: transparent;
  color: var(--Color);
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.btn-style-1:hover {
  transition: 0.3s ease;
  background-color: var(--Color);
  color: var(--whiteColor);
} */

/* END BUTTON OLD */

/* ! About Style */

.about {
    padding: 50px 200px 250px;
    display: flex;
    /* height: calc(100vh); */
    gap: 30px;
    align-items: center;
    position: relative;
}

.about-img-wrapper img {
    width: 350px;
    /* background-color: var(--CreamColor);
    border-radius: 100%; */

}

.about .about-text-wrapper h3,
.about .about-text-wrapper h3 span.logo {
    font-size: 15pt;
    font-weight: bolder;
    /* text-align: center; */
}

.about-text-wrapper p {
    margin-top: 25px;
    text-align: justify;
    color: black;
    font-size: 15px;
}

.custom-shape-divider-bottom-1706858090 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1706858090 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1706858090 .shape-fill {
    fill: #93BFCF;
}

/* Experience */
.experience {
    position: relative;
    text-align: center;
    padding: 50px 200px;
    padding-bottom: 250px;
}

.experience-text h1 {
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 35px;
    color: var(--Color);

}

.experience-text h3 {
    text-align: left;
    font-size: 15px;
    padding: 15px 200px;
    color: var(--Color);
    font-weight: 600;

}

.dash-content .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.dash-content .boxes .box {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    border-radius: 12px;
    width: 350px;
    height: 250px;
    padding: 50px 25px;
    margin: 0 20px 20px 20px;
    background-color: var(--whiteColor);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}

.boxes a {
    text-decoration: none;
}

.boxes .box i {
    margin: auto;
    font-size: 25px;
    color: var(--Color);
}

.boxes .box .text {
    white-space: nowrap;
    font-size: 15px;
    font-weight: 600;
    color: var(--Color);
    margin-top: 10px;
}

.boxes .box p {
    margin-top: 10px;
    font-size: 12px;
    text-align: justify;
    color: var(--Color);
}

.boxes .box.box2 {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.boxes .box.box3 {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.dash-content .boxes .box:hover {
    background-color: var(--Color);
    color: white;
}

.dash-content .boxes .box:hover i {
    color: white;
}

.dash-content .boxes .box:hover p {
    color: white;
}

.dash-content .boxes .box:hover .text {
    color: white;
}

/* .custom-shape-divider-bottom-1706863676 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1706863676 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1706863676 .shape-fill {
    fill: #FFFFFF;
} */

/* Education */

.education {
    padding: 80px 200px;
}

.education .education-text {
    text-align: left;
    padding-left: 50px;
}

.education h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--Color);
    margin-bottom: 30px;
}

.education h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.education .date {
    font-style: italic;
    color: #888;
    margin-bottom: 20px;
}

.education p {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
}

/* .education {
  margin-top: 200px;
  padding: 50px 200px;
  display: flex;
  align-items: center;
  gap: 100px;
  position: relative;

}

.education-text h1 {
  font-size: 35px;
  line-height: 35pt;
  font-weight: bolder;
}

.education-text p {
  color: black;
  margin: 30px 0;
  text-align: justify;
  font-size: 15px;
} */

/* Skills */

.skills {
    padding: 80px 0;
    text-align: center;
}

.skills .skills-text-wrapper h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
}

.skills .collection-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.skills .collection {
    width: 150px;
    height: 150px;
    padding: 30px;
    border-radius: 50%;
    text-align: center;
    border: 3px solid var(--Color);
}

.skills .collection i {
    font-size: 50px;
    color: var(--Color);
}

.skills .collection p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.certificates {
    padding: 80px 200px;
    text-align: center;
}

.certificates h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
}

.certificate-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.certificate {
    width: 450px;
    height: 380px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.certificate img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

/* Hover effect to zoom in on image */
.certificate:hover img {
    transform: scale(1.1);
}